name: deploy-token-app-api-production

on:
  push:
    branches:
      - develop
# on:
#   pull_request:
#     types: 
#       - closed
#     branches:
#       - main


env:
  REGISTRY: ghcr.io
  IMAGE_NAME: token-app-api
  DOCKER_HUB_WORKSPACE: passon
  SERVER_WORK_DIRECTORY: token-services

jobs:
  copy-file-to-server:
    # if: github.event.pull_request.merged == true
    runs-on: mac-mini-build
    # runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    # Copy docker-compose and .env files to target server
    - name: sync files to server
      run: |
        kill $(cat /var/run/rsyncd.pid) || echo "kill rsync process success."
        echo "${{ secrets.TOKEN_APP_API_ENV }}" > ./apps/${{ env.IMAGE_NAME }}/.env
        rsync -avh ./apps/${{ env.IMAGE_NAME }} root@${{ secrets.DEV_BACKEND_HOST }}:/opt/services/apps/${{ env.SERVER_WORK_DIRECTORY }}/
        
  start_pm2_token-app-api-service:
    # if: github.event.pull_request.merged == true
    needs: [copy-file-to-server]
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.DEV_BACKEND_HOST }}
          username: ${{ secrets.DEV_USER_NAME }}
          password: ${{ secrets.HOST_PASSWORD }}
          port: 22
          script: |
            cd /opt/services/${{ env.SERVER_WORK_DIRECTORY }}/
            source ~/.bashrc
            yarn install


# ssh root@${{ secrets.DEV_BACKEND_HOST }} "
# source ~/.zshrc
# cd /opt/services/${{ env.SERVER_WORK_DIRECTORY }}
# yarn install
# nx build ${{ env.IMAGE_NAME }}
# pm2 delete ${{ env.IMAGE_NAME }} || echo 'Delete PM2 Process Success.'
# nx run ${{ env.IMAGE_NAME }}:pm2"